<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CashierLoginHandler</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.CashierLoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenCashierHandler</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.OpenCashierHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionCashierHandler</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.TransactionCashierHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FingerHandler</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.FingerHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationFingerData</servlet-name>
        <servlet-class>com.dimata.posbo.ajax.VerificationFingerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierMaintenance</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.CashierMaintenance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierPackage</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.CashierPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashierPayment</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.CashierPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnTransactionHandler</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.ReturnTransactionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionCashierHandlerNew</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.cashier.TransactionCashierHandlerNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckService</servlet-name>
        <servlet-class>com.dimata.cashierweb.ajax.CheckService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>masterdata</servlet-name>
        <servlet-class>com.dimata.microservies.masterdata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CashierLoginHandler</servlet-name>
        <url-pattern>/CashierLoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenCashierHandler</servlet-name>
        <url-pattern>/OpenCashierHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionCashierHandler</servlet-name>
        <url-pattern>/TransactionCashierHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FingerHandler</servlet-name>
        <url-pattern>/FingerHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationFingerData</servlet-name>
        <url-pattern>/verification.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierMaintenance</servlet-name>
        <url-pattern>/CashierMaintenance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierPackage</servlet-name>
        <url-pattern>/CashierPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashierPayment</servlet-name>
        <url-pattern>/CashierPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnTransactionHandler</servlet-name>
        <url-pattern>/ReturnTransactionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionCashierHandlerNew</servlet-name>
        <url-pattern>/TransactionCashierHandlerNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckService</servlet-name>
        <url-pattern>/CheckService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>masterdata</servlet-name>
        <url-pattern>/masterdata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
